:root {
  --very-dark-desaturated-blue: hsl(222, 26%, 31%);
  --very-dark-desaturated-blue-keypad: hsl(223,31%,20%);
  --very-dark-desaturated-blue-screen: hsl(224, 36%, 15%);
  --desaturated-dark-blue-key: hsl(225, 21%, 49%);
  --desaturated-dark-blue-key-shadows: hsl(224, 28%, 35%);
  --red-key: hsl(6, 63%, 50%);
  --dark-red: hsl(6, 70%, 34%);
  --light-grayish-orange: hsl(30, 25%, 89%);
  --grayish-orange: hsl(28, 16%, 65%);
  --very-dark-grayish-blue: hsl(221, 14%, 31%);
  --white: hsl(0, 0, 100%);
  --light-gray: hsl(0, 0%, 90%);
  --grayish-red: hsl(0, 5%, 81%);
  --very-light-gray: hsl(0, 0%, 93%);
  --dark-moderate-cyan: hsl(185, 42%, 37%);
  --very-dark-cyan: hsl(185, 58%, 25%);
  --orange: hsl(25, 98%, 40%);
  --dark-orange: hsl(25, 99%, 27%);
  --light-grayish-yellow: hsl(45, 7%, 89%);
  --dark-grayish-orange: hsl(35, 11%, 61%);
  --very-dark-grayish-yellow: hsl(60, 10%, 19%);
  --very-dark-violet-main: hsl(268, 75%, 9%);
  --very-dark-violet: hsl(268, 71%, 12%);
  --dark-violet: hsl(281, 89%, 26%);
  --vivid-magenta: hsl(285, 91%, 52%);
  --pure-cyan: hsl(176, 100%, 44%);
  --soft-cyan: hsl(177, 92%, 70%);
  --very-dark-violet-keys: hsl(268, 47%, 21%);
  --dark-magenta: hsl(290, 70%, 36%);
  --light-yellow: hsl(52, 100%, 62%);
  --very-dark-blue: hsl(198, 20%, 13%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  font-family: Spartan, sans-serif, Arial;
}

.row {
  --bs-gutter-x: 0rem;
}

.col-2 {
  width: 22%;
}

.col-6 {
  width: 48%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.radio-boton {
  height: 20px;
  padding: 3px;
}

.display-none {
  opacity: 0;
}

.botones {
  height: 40px;
}

.boton {
  border: none;
  padding: 0;
  border-radius: 5px;
}

.numeros-signos {
  font-size: 20px;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme {
  font-size: 10px;
}

.border-radius-top-izq {
  border-top-left-radius: 50%;
}

.border-radius-bottom-izq {
  border-bottom-left-radius: 50%;
}

.border-radius-top-drch {
  border-top-right-radius: 50%;
}

.border-radius-bottom-drch {
  border-bottom-right-radius: 50%;
}

.container {
  max-width: 400px;
  padding: 0;
}

@media screen and (max-width: 400px) {
  .container {
    margin: 0 20px;
  }
}

.container .pantalla_calculadora {
  border-radius: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .keypad {
  border-radius: 10px;
}

.container p {
  text-align: right;
  margin: 0;
  font-size: 1.8rem;
}

.tema_1 {
  background-color: var(--very-dark-desaturated-blue);
}

.tema_1 .theme-text {
  color: #fff;
}

.tema_1 .radio-boton {
  background-color: var(--very-dark-desaturated-blue-keypad);
}

.tema_1 .pantalla_calculadora {
  background-color: var(--very-dark-desaturated-blue-screen);
  color: white;
}

.tema_1 .keypad {
  background-color: var(--very-dark-desaturated-blue-keypad);
}

.tema_1 .numeros-signos {
  color: var(--very-dark-grayish-blue);
  background-color: var(--light-grayish-orange);
  -webkit-box-shadow: 0px 3px 0px 0px var(--grayish-orange);
  box-shadow: 0px 3px 0px 0px var(--grayish-orange);
}

.tema_1 .boton-del-reset {
  background-color: var(--desaturated-dark-blue-key);
  color: #fff;
  -webkit-box-shadow: 0px 3px 0px 0px var(--desaturated-dark-blue-key-shadows);
  box-shadow: 0px 3px 0px 0px var(--desaturated-dark-blue-key-shadows);
}

.tema_1 .boton-igual {
  background-color: var(--red-key);
  color: #fff;
  -webkit-box-shadow: 0px 3px 0px 0px var(--dark-red);
  box-shadow: 0px 3px 0px 0px var(--dark-red);
}

.tema_2 {
  background-color: var(--light-gray);
}

.tema_2 .theme-text {
  color: var(--very-dark-grayish-yellow);
}

.tema_2 .radio-boton {
  background-color: var(--grayish-red);
}

.tema_2 .pantalla_calculadora {
  background-color: var(--very-light-gray);
  color: var(--very-dark-grayish-yellow);
}

.tema_2 .keypad {
  background-color: var(--grayish-red);
}

.tema_2 .numeros-signos {
  color: var(--very-dark-grayish-blue);
  background-color: var(--light-grayish-yellow);
  -webkit-box-shadow: 0px 3px 0px 0px var(--dark-grayish-orange);
  box-shadow: 0px 3px 0px 0px var(--dark-grayish-orange);
}

.tema_2 .boton-del-reset {
  background-color: var(--dark-moderate-cyan);
  color: #fff;
  -webkit-box-shadow: 0px 3px 0px 0px var(--very-dark-cyan);
  box-shadow: 0px 3px 0px 0px var(--very-dark-cyan);
}

.tema_2 .boton-igual {
  background-color: var(--orange);
  color: #fff;
  -webkit-box-shadow: 0px 3px 0px 0px var(--dark-orange);
  box-shadow: 0px 3px 0px 0px var(--dark-orange);
}

.tema_3 {
  --dark-violet: hsl(281, 89%, 26%);
  --vivid-magenta: hsl(285, 91%, 52%);
  --pure-cyan: hsl(176, 100%, 44%);
  --soft-cyan: hsl(177, 92%, 70%);
  --very-dark-violet-keys: hsl(268, 47%, 21%);
  --dark-magenta: hsl(290, 70%, 36%);
  --light-yellow: hsl(52, 100%, 62%);
  --very-dark-blue: hsl(198, 20%, 13%);
  background-color: var(--very-dark-violet-main);
}

.tema_3 .theme-text {
  color: var(--light-yellow);
}

.tema_3 .radio-boton {
  background-color: var(--very-dark-violet);
}

.tema_3 .pantalla_calculadora {
  background-color: var(--very-dark-violet);
  color: var(--light-yellow);
}

.tema_3 .keypad {
  background-color: var(--very-dark-violet);
}

.tema_3 .numeros-signos {
  color: var(--light-yellow);
  background-color: var(--very-dark-violet-keys);
  -webkit-box-shadow: 0px 3px 0px 0px var(--dark-magenta);
  box-shadow: 0px 3px 0px 0px var(--dark-magenta);
}

.tema_3 .boton-del-reset {
  background-color: var(--dark-violet);
  color: #fff;
  -webkit-box-shadow: 0px 3px 0px 0px var(--vivid-magenta);
  box-shadow: 0px 3px 0px 0px var(--vivid-magenta);
}

.tema_3 .boton-igual {
  background-color: var(--pure-cyan);
  color: var(--very-dark-blue);
  -webkit-box-shadow: 0px 3px 0px 0px var(--soft-cyan);
  box-shadow: 0px 3px 0px 0px var(--soft-cyan);
}
/*# sourceMappingURL=estilos.css.map */